@font-face {
	font-family: 'OpenSans-ExtraBold';
	src: url('FileName.eot');
	src: url('FileName.eot?#iefix') format('embedded-opentype'),
		 url('FileName.woff') format('woff'),
		 url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'),
		 url('') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'OpenSans-Regular';
	src: url('FileName.eot');
	src: url('FileName.eot?#iefix') format('embedded-opentype'),
		 url('FileName.woff') format('woff'),
		 url('../fonts/OpenSans-Regular.ttf') format('truetype'),
		 url('') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('FileName.eot');
	src: url('FileName.eot?#iefix') format('embedded-opentype'),
		 url('FileName.woff') format('woff'),
		 url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
		 url('') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Lobster-Regular';
	src: url('FileName.eot');
	src: url('FileName.eot?#iefix') format('embedded-opentype'),
		 url('FileName.woff') format('woff'),
		 url('../fonts/Lobster-Regular.ttf') format('truetype'),
		 url('') format('svg');
	font-style: normal;
	font-weight: normal;
}